<div class="mt-4">
  <form method="POST" action="/course/store">
    <label for="name">Tên</label>
    <input type="text" class="form-control" id="name" name="name" />
    <div class="form-group">
      <label for="description">Mô tả</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
      />
    </div>
    <label for="videoId">video id</label>
    <input type="text" class="form-control" id="videoId" name="videoId" />
    <label for="level">Level</label>
    <input type="text" class="form-control" id="level" name="level" />
    <label for="level">Video image</label>
    <input type="text" class="form-control" name="image" id="image " />
    <button class="btn btn-primary" type="submit">Them khoa hoc</button>
  </form>
</div>